.App {
  color: rgb(24, 24, 24);
}

.App h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #2AB7CA;
}

.faecherAuswahl {
  width: 50%;
  padding: 30px;
  margin: auto;
  background-color: #F4F4F8;
  border-radius: 10px;
  box-shadow: 5px 5px #FE4A49;
  position: relative;
}

.finished {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 10px;
  background-color: rgba(211, 86, 86, 0.733);
  color: white;
}

.finished a {
  font-size: 50px;
  font-weight: bold;
}

.finished div {
  margin-top: 20px;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #2AB7CA;
  cursor: pointer;
  transition: background-color 250ms;
}

.finished div:hover {
  background-color: rgb(43, 151, 165);
}

.faecherAuswahl h2 {
  margin-top: 0;
  text-align: center;
  font-weight: 200;
}

.faecherAuswahl h5 {
  text-align: center;
}

.faecherListe {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.fachContainer {
  position: relative;
  margin: 10px;
  padding: 10px 25px;
  background-color: rgb(236, 236, 236);
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

.fachContainer:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(49, 49, 49);
  transition: width 250ms;
}

.fachContainer:hover:before {
  width: 100%;
}

.fachContainer a {
  font-size: 15px;
}

.gewichtung {
  position: absolute;
  display: flex;
  z-index: 2;
  top: -100%;
  left: -25%;
  justify-content: center;
  width: 150%;
  height: 100%;
}

.gewichtung div {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 100;
  font-size: 10px;
  transition: all 250ms;
}

.gewichtung div:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);
  border-radius: 5px;
}

.gewichtung .lk {
  border-radius: 3px 0 0 3px;
  background-color: #FE4A49;
}

.gewichtung .gk {
  background-color: #2AB7CA;
}

.gewichtung .mü {
  background-color: rgb(100, 228, 83);
}

.gewichtung .ek {
  border-radius: 0 3px 3px 0;
  background-color: #FED766;
}

.secondContainer {
  width: 50%;
  padding: 30px;
  margin: 20px auto;
  background-color: #F4F4F8;
  border-radius: 10px;
  box-shadow: 5px 5px #FED766;
}

.fächerCounter {
  display: flex;
  justify-content: space-between;
}

.gewählteFächer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.notenChooser {
  color: white;
  width: calc(100% /3 - 40px);
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
  margin: 10px; 
}

.nameGewichtung {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameGewichtung h3 {
  margin-top: 0px;
}

.gewichtungIcon {
  background-color: rgb(0, 102, 255);
  width: 50px;
  padding: 10px 0px;
  border-radius: 5px;
}

.selectNote {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.548);
  border: none;
  outline: none;
  width: 50px;
  height: 25px;
  border-radius: 0px;
}

.berechnenContainer {
  width: 50%;
  padding: 30px;
  margin: auto;
  background-color: #F4F4F8;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(100, 228, 83);
  margin-bottom: 20px;
}

.berechnenBTN {
  width: 50%;
  color: white;
  padding: 8px 15px;
  background-color: #FE4A49;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  transition: background-color 250ms;
}

.berechnenBTN:hover {
  background-color: rgb(197, 57, 57);
}

@media only screen and (max-width: 1000px) {
  .faecherAuswahl {
    width: 80%;
  }
  .secondContainer {
    width: 80%;
  }
  .berechnenContainer {
    width: 80%;
  }
}