.App {
  color: #FBFBFB;
}

.App h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #DBE6EF;
  margin: 20px;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faecherAuswahl {
  max-width: 700px;
  width: 95%;
  padding: 20px 0;
  margin: 20px auto;
  background-image: linear-gradient(45deg, #F49B8B 0%, #E8BAC9 100%);
  border-radius: 7px;
  position: relative;
}

.finished {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 8px;
  background-color: rgba(211, 86, 86, 0.733);
  color: white;
}

.finished a {
  font-size: 50px;
  font-weight: bold;
}

.finished div {
  margin-top: 20px;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #2AB7CA;
  cursor: pointer;
  transition: background-color 250ms;
}

.finished div:hover {
  background-color: rgb(43, 151, 165);
}

.faecherAuswahl h2 {
  margin-top: 0;
  text-align: center;
  font-weight: 200;
  margin-bottom: 10px;
}

.faecherAuswahl h5 {
  text-align: center;
  margin-bottom: 10px;
}

.faecherListe {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.fachContainer {
  position: relative;
  margin: 5px 10px;
  padding: 15px 25px;
  background-color: rgb(236, 236, 236);
  border-radius: 3px;
  color: grey;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fachContainer:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #3A4048;
  transition: width 250ms;
}

.fachContainer:hover:before {
  width: 100%;
}

.fachContainer a {
  font-size: 15px;
}

.gewichtung {
  display: flex;
  justify-content: center;
  height: 30px;
}

.gewichtung div {
  min-width: 30px;
  max-width: 50px;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 100;
  font-size: 10px;
  transition: all 250ms;
  border-radius: 3px;
  margin: 0 5px;
  color: grey;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
}

.gewichtung div:hover {
  transform: scale(.9);
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233); */
  /* border-radius: 5px; */
}

.gewichtung .lk {
  background: #DBE6EF;
}

.gewichtung .gk {
  background: rgb(202, 216, 228);
}

.gewichtung .mü {
  background: rgb(168, 186, 201);
  color: white;
}

.gewichtung .ek {
  background: rgb(134, 158, 177);
  color: white;
}

.secondContainer {
  max-width: 700px;
  width: 95%;
  padding: 20px 0;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fächerCounter {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #FBFBFB;
  margin: 0 10px;
}

.gewählteFächer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.notenChooser {
  color: #3A4048;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
  margin: 10px;
  /* box-shadow: 0 5px 7px rgba(0, 0, 0, 0.05); */
}

.nameGewichtung {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nameGewichtung h3 {
  margin: 0px;
}

.gewichtungIcon {
  background-color: rgb(243, 243, 243);
  color: grey;
  width: 40px;
  padding: 7px 0px;
  border-radius: 5px;
  margin-left: 10px;
}

.selectNote {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.548);
  border: none;
  outline: none;
  width: 50px;
  height: 25px;
  border-radius: 0px;
}

.fachLöschen {
  margin-top: 20px;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
  transition: transform 250ms;
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.fachLöschen:hover {
  transform: scale(1.1);
}

.nextFachContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextFachContainer svg {
  width: 30px;
  margin: 0px 30px;
}

.berechnenContainer {
  max-width: 700px;
  width: 95vw;
  padding: 20px 0;
  background-color: #F4F4F8;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.berechnenContainer h1 {
  margin-top: 10px;
}

.berechnenBTN {
  width: 50%;
  color: white;
  padding: 8px 15px;
  background-color: #3A4048;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  transition: background-color 250ms;
}

.berechnenBTN:hover {
  background-color: rgb(74, 82, 92);
}


.verbessernContainer {
  max-width: 700px;
  width: 95vw;
  padding: 20px 0;
  margin: auto;
  background-color: #F4F4F8;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.verbessernContainer>h2{
  margin-bottom: 10px;
}

.progressBar {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  margin: 20px 0;
  background-color: rgb(236, 236, 236);
}

.progressBar>div {
  width: 70%;
  height: 100%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border-radius: 5px;
  transition: width 500ms;
}

.progressContainer {
  width: 80%;
}

@media only screen and (max-width: 1000px) {
  .mainContainer {
    display: block;
  }
  .fachContainer {
    padding: 15px 15px;
  }
  .gewichtung div {
    margin: 0 2px;
  }
}